{
  "Database": {
    "sockFile": "SQL SOCKFILE",
    "username": "USERNAME",
    "password": "PASSWORD",
    "db": "DB NAME"
  },
  "Server": {
    "port": APP_SERVER_PORT
  },
    "Keys" : {
        "dbKey": "Database 16 Byte Key.",
        "steamAPIKey": "API Key For Steam Calls."
    }
}
}
