name: Publish to GHCR
on:
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
  push:
    name: Create build and push to GHCR
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0
        with:
          image: tonistiigi/binfmt:latest
          platforms: all
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1
        with:
          buildkitd-flags: --debug
      - id: string
        uses: ASzc/change-string-case-action@v5
        with:
          string: ${{ github.repository_owner }}
      - uses: actions/checkout@v3.3.0
      - uses: docker/login-action@v2.1.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.TOKEN }}
      - id: getversion
        uses: Saionaro/extract-package-version@v1.2.1
      - uses: docker/build-push-action@v3.2.0
        if: github.ref != 'refs/heads/master'
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          push: true
          tags: |
            ghcr.io/${{ steps.string.outputs.lowercase }}/g5api:next
      - uses: docker/build-push-action@v3.2.0
        if: github.ref == 'refs/heads/master'
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          push: true
          tags: |
            ghcr.io/${{ steps.string.outputs.lowercase }}/g5api:latest,ghcr.io/${{ steps.string.outputs.lowercase }}/g5api:${{ steps.getversion.outputs.version }}
